@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.header{
    max-width: 1280px;
    margin: 20px auto;
    text-align:center;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    /* border: 2px solid black; */
}
.icon-image{
    display: flex;
    gap: 0.5rem;
    align-items: center;

}
.logo-image{
    height:1.8rem;
    width:1.8rem;
}
.logo-name{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    
}
nav{
    display:none;
    flex-direction: row;
    gap: 1.5rem;
    justify-content:center;
}
@media screen and (min-width: 768px){
    nav{
        display:flex;
    }
}
nav a{
    color: rgb(43, 34, 34);
    font-weight: bold;
    font-size: 1.09rem;
    transform: color 0.1s;
}
nav a:hover{
    color: rgba(32, 32, 241, 0.84);
}
.contactus{
    display: none;
    text-align: center;
    padding: auto auto;
    font-size: 1.09rem;
    font-weight: bold;
    height: 2.7rem;
    width: 8rem;
    border: 0px solid black;
    border-radius: 0.4rem;
    background-color: rgba(32, 32, 241, 0.84);
    color: white;
    align-content:center;
}
@media screen and (min-width: 768px){
    .contactus{
        display: block;
    }
}
.contactus:hover{
    background-color:rgb(2, 2, 238);
}
button{
    display:none;
    height:1.7rem;
    width:1.7rem;
    border: none;
    background-color:white;
}

@media screen and (max-width: 768px){
    button{
        display: block;
    }
}
.left-content{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
}
.left-content .title{
    font-size: 1.25rem;
    font-weight:bold;
    color: rgba(10, 10, 237, 0.79);
}
.heading{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem;
}
.content{
    font-size: 1.18rem;
    padding: 0rem 2.2rem;
    color: gray;
}
.button-group{
    font-weight: bold;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 2.1rem;
    font-size: 1.12rem;
}
.button-group .start{
    height: 2.5rem;
    width: 7rem;
    align-content: center;
    background-color: rgba(35, 35, 229, 0.84);
    color: white;
    border: none;
    border-radius: 0.25rem;
}
.button-group .start:hover{
    background-color: rgb(42, 42, 231);
}
.button-group .tour{
    height: 2.5rem;
    width: 7rem;
    align-content: center;
    background-color: rgba(76, 63, 63, 0.922);
    color: white;
    border: none;
    border-radius: 0.25rem;
}
.button-group .tour:hover{
    background-color: rgba(82, 77, 77, 0.84);
}
.right-content{
    display: flex;
    justify-content:center;
}
.right-content .image{
    height: 50vh;
    /* width: 55vw; */
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 2px 4px black;
}
@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
.company{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}
.company-grid{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:4rem;
    padding: 2rem 2.5rem;
    background-color: rgba(227, 222, 222, 0.541);
    border: none;
    border-radius:0.4rem;
    justify-content: center;
    align-items: center;
}
.company-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
.company-images{
    height:1.5rem;
}
.company-name{
    font-weight: bold;
    color: gray;
}
@media screen and (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .company-heading{
        font-size: 1.5rem;
    }
}
@media screen and (min-width:768px){
    .main-content{
        margin: 0px auto;
        max-width:1280px;
        display:flex;
        flex-direction:row;
        
    }
    .left-content{
        padding: 2.8rem 0rem;
        width: 55%;
    }
    .left-content .title{
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .left-content .heading{
        text-align: start;
        padding: 1.5rem 0rem;
        font-size: 3.99rem;
        padding-right: 6rem;
    }
    .left-content .content{
        padding: 0px;
        text-align: start;
        width: 74%;
        font-size: 1.3rem;
    }
    .button-group{
        justify-content: start;
        padding-left: 0px;
    }
    .right-content .image{
        height: 65vh;
    }
}